<section class="polls-window" aria-label="Polls Window">
  <h2 class="polls-window__title">Polls Window</h2>

  <div class="polls-window__panel">
    <div class="polls-window__placeholder">
      Poll information will display here
    </div>
  </div>

  <div class="polls-window__actions">
    <button
      type="button"
      class="polls-window__btn"
      (click)="onCreatePoll()"
    >
      Create Poll
    </button>

    <button
      type="button"
      class="polls-window__btn"
      routerLink="/view-poll"
    >
      View Poll
    </button>
  </div>
</section>
