<div class="container py-4 app-page">
  <div class="card app-card shadow-sm calendar-display-card">
    <div class="card-body">
      <section class="calendar-display" aria-label="Calendar Display Area">
        <!-- Top controls -->
        <header class="calendar-display__header">
          <div class="calendar-display__title">
            Calendar Display
          </div>
        </header>s

        <div class="calendar-display__body">
            <div *ngIf="loading">Loading events…</div>
            <div *ngIf="errorMessage">{{ errorMessage }}</div>

            <!--FOR TESTING REMOVE LATER-->
            <div style="font-size:12px; opacity:.8;">
              CalendarDisplay events.length = {{ events.length }} |
              viewDate = {{ viewDate | date:'yyyy-MM-dd' }}
            </div>
            <!--END OF TESTING REMOVE SECTION-->

            <app-calendar-widget
              [viewDate]="viewDate"
              [events]="events"
              (viewDateChange)="viewDate = $event"
              (eventClicked)="onEventClicked($event)"
            ></app-calendar-widget>
        </div>

        <!-- Bottom actions -->
        <footer class="calendar-display__footer">
          <button
            type="button"
            class="btn btn-primary"
            routerLink="/create-event"
          >
            Add Event
          </button>

          <button
            type="button"
            class="btn btn-primary"
            routerLink="/view-event"
          >
            View Event
          </button>
        </footer>
      </section>
    </div>
  </div>
</div>
