<header class="app-navbar navbar" role="banner">
  <div class="container-fluid px-3 py-2">
    <span class="navbar-brand mb-0 h1">
      {{ siteName }}
    </span>

    <div class="d-flex gap-2">
      @if (showProfile()) {
        <a
          class="btn btn-outline-light btn-sm"
          routerLink="/account"
        >
          Profile
        </a>
      }

      @if (showHome()) {
        <a
          class="btn btn-outline-light btn-sm"
          routerLink="/main-page"
        >
          Home
        </a>
      }
    </div>
  </div>
</header>
